@import "./../../App";
.input{
  padding:11px;
  background:none;
  outline:none;
  display:block;
  width: 200px;
  height: 25px;
  border: 1px solid $color2;
  border-radius: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color:white;
  &::placeholder{
    color: #8A8A8A;
  }
}