html{
  height:100%
}
body {
  height: 100%;
  padding:0;
  margin: 0;
  font-family:  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
#root{
  height: 100%;
}

